<!DOCTYPE html>
<html>
<head>
	<title>Download Page</title>

  <!-- Our CSS -->
  <link href="css/index.css" rel="stylesheet" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Mobile friendly -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

>>>>>>> 59ccccfcbbcc1843a833934a7dd8e99197e1567c
</head>

<body>
 <div class="center-container">
  	<a href="download">  <button class="btn btn-primary"> Download CSV</a> </button>
  	<a href="\"> <button class="btn btn-primary"> Return to Homepage</a> </button>
  </div>
</body>
</html>
