<!DOCTYPE html>
<html>
<head>
  <title>Import Image</title>
  <link rel="stylesheet" type="text/css" href="css/import.css">
</head>
<body>
  <canvas id="canvas"></canvas>
  <button id="choose">Import Photo</button>
  <button id="use">Use Photo</button>
  <script src="js/import.js"></script>
</body>
</html>