<html>
<head>
    <link href="css/index_theme.css" rel="stylesheet" />
	<title>Test Page</title>
</head>

<head>
    <header class="menubarbackground">
        <div class="centertextalign">
            <img id="logo" src = '/image/piglet2.png'>
    </div>
</head>

<body>
    <div class="centerobjectalign">
        <button id="takephotobutton"> Take Photo </button>
        <button id="importphotobutton"> Import Photo </button>
    </div>
	<a href = "webcam">Take Photo!!!!!!</a>
	<a href = "import">Import Photo</a>

</body>
</html>
