<!DOCTYPE html>
<html>
<head>
  <title>Capture Webcam</title>
  <link rel="stylesheet" type="text/css" href="css/webcam.css">
</head>
<body>
  <canvas id="canvas"></canvas>
  <video autoplay id="player"></video>
  <br>
  <button id="capture">Capture</button>
  <button id="retake">Retake Photo</button>
  <button id="use">Use Photo</button>
  <script src="js/webcam.js"></script>
</body>
</html>