<!DOCTYPE html>
<html>
<head>
  <title>Capture Webcam</title>
  <link rel="stylesheet" type="text/css" href="css/webcam.css">
</head>
<body>
  <canvas id="canvas"></canvas>
  <div id = "div1" class = "modal">
    <div class = "modal-content">
      <video autoplay id="player"></video>
      <br>
      <button id="capture">Capture</button>
    </div>
  </div>
  <script src="js/webcam.js"></script>
</body>
</html>