.center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  align-content: center;
	top: 0px;
	left: 0px;
  height: 100%;
}

button {
  margin-bottom: 30px !important;
  padding: 20px !important;
  background-color: #ff8399 !important;
  border-color: #ff8399 !important;
}

button:hover {
  margin-bottom: 30px !important;
  padding: 20px !important;
  background-color: #ec7d90 !important;
  border-color: #ec7d90 !important;
}
body, html {
	height: 100%;
	margin: 0px;
}

#logo {
  padding-bottom:40px;
  width: 300px;
}

a {
  color: white !important;
}

a:hover{
  text-decoration: none !important;
}

input[type=file] {
  border-style: double;
  display: none;

}

.custom-file-upload {
  margin-bottom: 30px !important;
  padding: 20px !important;
  background-color: #ff8399 !important;
  border-color: #ff8399 !important;
}

input[type=file] button {
  background-color: #fff;
}
