#canvas {
  display:none;
  width: 640;
  height: 480;
}
#retake {
  display:none;
}
#use {
  display:none;
}
#player {
  width: 640;
  height: 480;
}

#canvas, #player {
  padding-bottom: 30px !important;
  
}
.media-container {
  width: 100vw;
}