#canvas {
  display:none;
  width: 640px;
  height: 480px;
}
#retake {
  display:none;
}
#use {
  display:none;
}
#player {
  width: 640px;
  height: 480px;
}

#canvas, #player {
  padding-bottom: 30px !important;
  height: 600px !important;

}
.media-container {
  width: 100vw;
}
